//================================================================================

:root {
	--color-white: #fff;
	--color-blue-light: rgb(237, 245, 255);
	--color-blue: #4699ff;
	--color-orange: rgb(255, 144, 41);
	// --color-dark: #333;
	// --color-red: rgb(242, 60, 49);
	// --color-yellow: rgb(253, 205, 43);
	// --color-green: rgb(95, 204, 59);
	// --color-blue: rgb(3, 116, 255);
	// --color-purple: rgb(186, 0, 223);
}

div,
button,
*::before,
*::after {
	box-sizing: border-box;
}

button {
	padding: 0;
	border: none;
	font-family: inherit;
	letter-spacing: inherit;
	font-weight: inherit;
	color: inherit;
	background-color: inherit;
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
		}
	}
}

html,
body {
	height: 100%;
	overflow: hidden;
}

//================================================================================

body {
	user-select: none;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Russo One", sans-serif;
	letter-spacing: 1.5px;
	font-weight: 700;
	color: var(--color-white);
	background-color: var(--color-white);
	transition: background-color 0.2s;
}

.wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	width: 360px;
	height: 640px;
	transform: scale(var(--scale));
}

.screen {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	// transition: left 0.5s, visibility 0.5s;
	&.hidden {
		visibility: hidden;
		&--left {
			left: -100%;
		}
		&--right {
			left: 100%;
		}
	}
}

//================================================================================

.play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: var(--color-white);
	transition: transform 0.2s;
	&::after {
		content: "";
		position: absolute;
		transform: translateX(5px);
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 45px solid var(--color-dark);
	}
	&.scale {
		transform: translate(-50%, -50%) scale(1.2);
	}
}

// .highscore {
// 	width: 120px;
// 	height: 50px;
// 	border-radius: 15px;
// 	display: flex;
// 	justify-content: center;
// 	background-color: var(--color-dark);
// 	// .highscore__text
// 	&__text {
// 		display: flex;
// 		align-items: center;
// 		position: relative;
// 		font-size: 24px;
// 		&::before {
// 			content: "";
// 			width: 35px;
// 			height: 35px;
// 			margin-right: 10px;
// 			background-image: url("../img/crown.svg");
// 			background-size: 100%;
// 		}
// 	}
// }

//================================================================================

.shape-preview-container {
	position: absolute;
	top: 15px;
	left: 50%;
	width: 140px;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	background-color: var(--color-blue-light);
	transform: translateX(-50%);
}

.shape-test {
	position: absolute;
	z-index: -1;
	width: 110px;
	height: 110px;
	// border: 1px solid #999;
}

.shape-preview {
	width: 110px;
	height: 110px;
	transform: scale(var(--shape-scale)) translateY(var(--shape-y));
}

.shape-container {
	position: absolute;
	bottom: 85px;
	left: 15px;
	width: 330px;
	height: 385px;
	display: flex;
	justify-content: center;
	align-items: center;
	// border: 1px solid #999;
}

.shape,
.bg {
	position: absolute;
}

.shape {
	&__button {
		cursor: pointer;
		&.disabled {
			display: none;
		}
	}
}

//================================================================================

.result {
	position: absolute;
	top: 180px;
	width: 360px;
	text-align: center;
	&.record {
		.result__record {
			visibility: visible;
		}
	}
	// .result__number
	&__number {
		font-size: 80px;
	}
	// .result__record
	&__record {
		visibility: hidden;
		font-size: 22px;
		color: var(--color-white);
	}
}

//================================================================================

.icon {
	position: absolute;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: var(--color-blue);
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.2s;
	&.hidden {
		display: none;
	}
}

.home {
	top: 15px;
	left: 15px;
	background-size: 70%;
	background-position: top 35% center;
	background-image: url("../img/home.svg");
	&.scale {
		transform: scale(1.1);
	}
}

.score {
	top: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

.back {
	bottom: 15px;
	left: 15px;
	background-size: 50%;
	transform: rotate(180deg);
	background-image: url("../img/back.svg");
	&.scale {
		transform: scale(1.1) rotate(180deg);
	}
}

.reward {
	position: absolute;
	bottom: 20px;
	right: 15px;
	display: flex;
	align-items: center;
	height: 45px;
	padding: 0 7px;
	border-radius: 25px;
	background-color: var(--color-orange);
	transition: transform 0.2s;
	&.scale {
		transform: scale(1.1);
	}
	&.show {
		background-color: var(--color-blue);
		.reward__count {
			color: transparent;
			background-size: 70%;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("../img/reward.svg");
		}
	}
	&.hidden {
		display: none;
	}
	&.error {
		background-color: #999;
		.reward__count {
			display: none;
		}
	}
	// .reward__count
	&__count {
		flex: 0 0 31px;
		width: 31px;
		height: 31px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 3.5px;
		border-radius: 50%;
		color: var(--color-orange);
		background-color: var(--color-white);
		font-size: 22px;
	}
	// .reward__text
	&__text {
		font-size: 12px;
		text-transform: uppercase;
	}
}

// .bottom {
// 	position: absolute;
// 	left: 15px;
// 	bottom: 15px;
// 	width: calc(100% - 30px);
// 	height: 70px;
// 	display: flex;
// 	align-items: flex-end;
// 	justify-content: space-between;
// }

// .icon {
// 	width: 70px;
// 	height: 70px;
// 	border-radius: 15px;
// background-color: var(--color-dark);
// background-position: center;
// background-repeat: no-repeat;
// 	transition: transform 0.2s;
// 	&.scale {
// 		transform: scale(1.1);
// 	}
// }

// .home {
// 	background-size: 85%;
// 	background-image: url("../img/home.svg");
// }

// .restart {
// 	background-size: 85%;
// 	background-image: url("../img/restart.svg");
// }

// .post {
// 	background-image: url("../img/post.svg");
// }

// .invite {
// 	background-image: url("../img/invite.svg");
// }

//================================================================================

.preloader {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-white);
	&.hidden {
		visibility: hidden;
	}
}

.spinner {
	position: relative;
	width: 70px;
	height: 70px;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	&::after {
		border: 5px solid var(--color-blue-light);
	}
	&::before {
		z-index: 1;
		border-top: 5px solid var(--color-blue);
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		animation: rotation 1s infinite linear;
	}
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

//================================================================================
